@model Agendamento
@{
    ViewData["Title"] = "Agendamento";
}

<link rel="stylesheet" href="~/css/agendamento.css" asp-append-version="true" />


<main id="agendamento-content">
    <div id="agendamento-form row">


        <div class="mx-auto" style="width: 500px;">




            <h2 class="title-content">Pré-agendamento</h2>



            <form method="post">

                <div class="form-row">
                    <div class="form-group">
                        <input asp-for="Nome" class="form-control" size="30" required placeholder="Seu Nome">
                    </div>
                    <br />
                    <div class="form-group">
                        <input asp-for="Fone" class="form-control" size="30" required placeholder="Seu telefone">
                    </div>
                    <br />
                    <div class="form-group">
                        <input asp-for="Animal" class="form-control" size="30" required placeholder="Seu animal">
                    </div>
                    <br />
                    <div class="form-group">
                        <textarea asp-for="Necessidade" class="form-control" cols="35" rows="8" requiered placeholder="informe a nescessidaed do seu pet"></textarea>
                    </div>
                    <br />
                    <div class="form-group">
                        <input asp-for="Data" id="date" class="form-control datetime" type="date" size="30" required placeholder="dd/mm/aa" data-provide="datepicker">
                    </div>

                </div>
                <br>
                <input type="submit" id="form-submit" class="btn btn-primary" value="Enviar">
            </form>
        </div>
        </div>

        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</main>