@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao PetShop sem nome</h1>
    <p>Este é um projeto de um petshop ficticio</p>
    <p>Para mais informações, entre em contato conosco</p>
</div>
