@{
    ViewData["Title"] = "Home Page";
}
<body>


    <div class="container">
    
    <section id="training">
            <br /><br /><br />
            <h2>PetShop Lavacão</h2>
            <p>
                Cachorrinho cachorrinho cachorrão cachorrasso banhos tomados peludinhos cheirosos, o melhor pet shop cuidamos
                dos seus pets como ninguem. Uma equipe completa com o melhor para seu pet
            </p>
            <br /><br /><br />

            <div class="row tini">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/img/func1.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>Dog Washers</h2>
                    <p>Jorge é nosso lider da equipe de limpeza caninca, nenhum cãozinho sai sujo daqui.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Redes sociais</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/img/func2.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>Dog Finisher</h2>
                    <p>Lisa pe nossa dog finisher, sem ela nossos cãozinhos saem do pet de cabelo em pé.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Redes sociais</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/img/func3.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>Dog Walker</h2>
                    <p>O funcionário favorito dos doguinhos, passeia com todos sem excessão.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Redes sociais</a></p>
                </div><!-- /.col-lg-4 -->
            </div>


        </section>
    </div>
        <br><br><br><br><br><br><br><br>


        <div class="dogimage">
            <p>
                <div class="container">
                    <h2>Cachorros</h2>
                    <blockquote>"AUAUAU AUAUAU AUAUAU AUAUAU" -Rex, o Cão</blockquote>
                </div>
            </p>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/a0/d9/ed/a0d9ed4c55c0c1c717cc5ebc196b3143.gif" width="400px" height="400px" />
        </div>


        <br><br><br><br><br><br><br><br> <br><br><br><br>

</body>
