@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>


<link rel="stylesheet" href="~/css/sobre.css" asp-append-version="true" />

<p align="justify">
    Somos apaixonados por pets! Essa não é apenas uma expressão inserida em nossa missão como empresa, mas uma realidade vivenciada todos os dias em nossas atitudes, nas lojas e em todos os nossos pontos de contato.

</p>
<p align="justify">
    Sabemos que cuidar de nossos bichinhos é um prazer: selecionar a melhor ração, buscar mimos novos, levá-los para um banho. O que importa é ver que eles estão bem.
</p>
<p align="justify">
    Muitas vezes, sabemos que seu tempo é curto, mas queremos que você aproveite cada segundo que passar conosco! Para isso, a gente trata todos os pets com muita dedicação e respeito e trabalha a todo instante para que nossas lojas, produtos e serviços estejam à altura de tanto amor e cuidado.
</p>
<p align="justify">
    Convidamos você a dar um passeio em nossas lojas, se divertir, trocar ideias, histórias, sentimentos, criar laços, sorrir com a gente. Isso é o que fazemos, e esse é o nosso jeito.
</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />