@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>


<link rel="stylesheet" href="~/css/sobre.css" asp-append-version="true" />

<p>Use this page to detail your site's privacy policy. cuzimj</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />